.check-pr-container {
    position: relative;
    display: inline-block;
}

.check-pr-container .check-pr-button {
    position: absolute;
    top: 45px;
    left: 103%;
}

.btn {
    height: 35px;
    weight: 35px;
}